<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Server=(localdb)\mssqllocaldb;Database=RestaurantDB;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="AppName" value="Restaurant Management System" />
        <add key="CompanyName" value="Your Restaurant" />
        <add key="Version" value="1.0.0" />
    </appSettings>
</configuration>
